@font-face {
    font-family: 'Kode Mono';
    src: url(./media/fonts/Kode_Mono/KodeMono-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Redhat Mono';
    src: url(./media/fonts/Red_Hat_Mono/RedHatMono-VariableFont_wght.ttf);
}
:root {
    --bkg: #111;
    --txt: #F80;
}
body {
    background-color: var(--bkg);
}
.App {
    min-height: 100vh;
    position: relative;
    height: 100%;
}
html {
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Redhat Mono', monospace;
    color: var(--txt);
    text-shadow:
        0 0 3px var(--txt),
        0 0 3px #E70;
    animation: breathe 1s ease-in-out infinite;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kode Mono', monospace;
    color: var(--txt);
    text-shadow:
        0 0 3px #F90,
        0 0 5px var(--txt);
}
header {
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--bkg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--txt);
    box-sizing: border-box;
}
h1 {
    margin-left: 1rem;
}
nav {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 1rem;
}
.navBtn {
    height: calc(100% - 2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0.5rem;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
    transition: all 0.125s;
    text-decoration: none;
    color: var(--txt);
}
.navBtn:hover {
    backdrop-filter: brightness(150%);
}
.navBtn:active {
    backdrop-filter: brightness(200%);
}
.headerShadow {
    height: 8vh;
    position: fixed;
    top: 0;
    left: 10%;
    right: 10%;
    z-index: 9;
    box-shadow: 0 -70px 100px var(--txt);
}
footer {
    height: 4vh;
    padding-left: 1vh;
    padding-right: 1vh;
    display: flex;
    align-items: center;
    background-color: var(--bkg);
    color: var(--txt);
    justify-content: center;
}
footer * {
    text-align: center;
}
.glow {
    text-shadow:
        0 0 3px var(--txt),
        0 0 5px #E70;
}
.scanLines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: repeating-linear-gradient(
        to bottom,
        rgba(17, 17, 17, 0.1),
        rgba(17, 17, 17, 0.1) 1px,
        transparent 1px,
        transparent 4px
    );
    pointer-events: none;
    z-index: 100;
}

@keyframes breathe {
    0% {
        text-shadow:
            0 0 3px var(--txt),
            0 0 3px #E70;
    }
    50% {
        text-shadow:
            0 0 3px var(--txt),
            0 0 5px #E70;
    }
    100% {
        text-shadow:
            0 0 3px var(--txt),
            0 0 3px #E70;
    }
}
canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    pointer-events: none;
}