.comingSoon {
    height: 96vh;
    display: flex;
    background: #282c34 url(../media/images/underConstruction.png);
    background-position: center center;
    background-size: cover;
    position: relative;
}
.comingSoon h2 {
    backdrop-filter: brightness(25%) blur(7px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow:
        0 0 7px #FA0,
        0 0 10px #F90,
        0 0 21px var(--txt);
}