.formWrap {
    width: 100%;
    height: 75%;
    margin-top: 1rem;
    background-color: var(--terminal-bkg);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.formWrap > h6 {
    color: #FFF;
    /* text-shadow:
        0 0 3px #FFF,
        0 0 3px #EEE; */
    margin: 10px;
    margin-left: 20px;
    margin-bottom: 0;
    background-color: var(--terminal-screen);
    width: max-content;
    padding: 0.5rem;
    padding-right: 40px;
    font-size: 0.75rem;
    border-radius: 0.5rem 0.5rem 0 0;
    display: flex;
    user-select: none;
}
.contactForm {
    position: relative;
    flex-grow: 1;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--terminal-screen);
    border-radius: 0 0 10px 10px;
    box-shadow: 10px 10px 20px #0003;
}
.contactForm > p {
    padding: 0;
    font-size: 1rem;
}
.contactForm > div {
    display: flex;
    align-items: center;
}
.contactForm label {
    margin-right: 0.5rem;
}
.contactForm input,
.contactForm textarea {
    background-color: transparent;
    box-shadow: none;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    resize: none;
    flex-grow: 1;
    font-size: 1rem;
}
/* Due to autofill background being impossible to change, text is set to #111 */
.contactForm input:autofill,
.contactForm input:-webkit-autofill {
    -webkit-text-fill-color: #111;
    /* text-shadow: 0 0 3px #111; */
}
.contactForm textarea {
    height: 100%;
}
.contactForm div:has(textarea) {
    flex-grow: 1;
    align-items: start;
}
.contactForm input:focus,
.contactForm textarea:focus {
    background-color: var(--terminal-screen);
    outline: none;
}
.buttonWrap {
    margin-top: 1rem;
    margin-bottom: 1rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.buttonWrap button {
    padding: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    height: 3rem;
    font-size: 2rem;
    background-color: var(--txt);
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.buttonWrap button.loading {
    cursor: wait;
}
.buttonWrap button span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bkg);
    text-shadow: none;
    font-family: 'Kode Mono', monospace;
    scale: 100%;
    transition: all 1s;
}
button .loading {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-image: url(../media/icons/loading.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 90%;
    animation: loading 1s linear infinite;
    transition: all 1s;
    scale: 2000%;
}
button.loading span {
    scale: 0%;
}
button.loading .loading {
    scale: 100%;
}
@keyframes loading {
    from { transform: rotateZ(0deg); }
    to { transform: rotateZ(360deg); }
}

.ghost {
    opacity: 25%;
    pointer-events: none;
}

@media screen and (max-width: 650px) {
    .formWrap h6 {
        /* text-shadow:
            0 0 3px #FFF8,
            0 0 3px #EEE8; */
    }
}