.hero {
    height: 100vh;
    position: relative;
}
.ctaWrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta {
    margin-top: 25rem;
    border: none;
    background-color: var(--txt);
    color: var(--bkg);
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
}